In [1]:
#!pip install mysql-connector-python

In [2]:
from mysql.connector.pooling import MySQLConnectionPool
from mysql.connector import Error

In [3]:
#!pip install mysql-connector

In [4]:
import mysql.connector as connector
from mysql.connector import errorcode

In [5]:
try:
    connection = connector.connect(user="root", password="Hopewalk1@", port=3306)
    print("connected sucessfully")
except:
    print("There was an error connecting to the database")
    # cursor.execute("USE database_name")

connected sucessfully

In [6]:
cursor = connection.cursor()

In [7]:
try:
    cursor.execute("CREATE DATABASE little_lemon_db")
except:
    cursor.execute("DROP DATABASE little_lemon_db")
    print("Database Dropped")
    cursor.execute("CREATE DATABASE little_lemon_db")
    print("Database created")

cursor.execute("USE little_lemon_db")

Database Dropped
Database created

In [8]:
cursor = connection.cursor()

In [9]:
# The SQL query for the MenuItems table is: 
create_menuitem_table="""
CREATE TABLE MenuItems (
ItemID INT AUTO_INCREMENT,
Name VARCHAR(200),
Type VARCHAR(100),
Price INT,
PRIMARY KEY (ItemID)
);"""

# Create MenuItems table
cursor.execute(create_menuitem_table)
print("MenuItems table is created.\n")

MenuItems table is created.

In [10]:
insert_menuitems="""
INSERT INTO MenuItems (ItemID, Name, Type, Price)
VALUES
(1,'Olives','Starters',5),
(2,'Flatbread','Starters', 5),
(3, 'Minestrone', 'Starters', 8),
(4, 'Tomato bread','Starters', 8),
(5, 'Falafel', 'Starters', 7),
(6, 'Hummus', 'Starters', 5),
(7, 'Greek salad', 'Main Courses', 15),
(8, 'Bean soup', 'Main Courses', 12),
(9, 'Pizza', 'Main Courses', 15),
(10,'Greek yoghurt','Desserts', 7),
(11, 'Ice cream', 'Desserts', 6),
(12, 'Cheesecake', 'Desserts', 4),
(13, 'Athens White wine', 'Drinks', 25),
(14, 'Corfu Red Wine', 'Drinks', 30),
(15, 'Turkish Coffee', 'Drinks', 10),
(16, 'Turkish Coffee', 'Drinks', 10),
(17, 'Kabasa', 'Main Courses', 17);"""

print("Inserting data in MenuItems table.")
# Populate MenuItems table
cursor.execute(insert_menuitems)
print("Total number of rows in MenuItem table: {}\n".format(cursor.rowcount))
# Once the query is executed,  commit the change to the database 
connection.commit()

Inserting data in MenuItems table.
Total number of rows in MenuItem table: 17

In [11]:
create_menu_table="""
CREATE TABLE Menus (
MenuID INT,
ItemID INT,
Cuisine VARCHAR(100),
PRIMARY KEY (MenuID, ItemID)
);"""

# Create Menus table
cursor.execute(create_menu_table)
print("Menu table is created.\n")

Menu table is created.

In [12]:
insert_menus="""
INSERT INTO Menus (MenuID, ItemID, Cuisine)
VALUES
(1, 1, 'Greek'),
(1, 7, 'Greek'),
(1, 10, 'Greek'),
(1, 13, 'Greek'),
(2, 3, 'Italian'),
(2, 9, 'Italian'),
(2, 12, 'Italian'),
(2, 15, 'Italian'),
(3, 5, 'Turkish'),
(3, 17, 'Turkish'),
(3, 11, 'Turkish'),
(3, 16, 'Turkish');"""

print("Inserting data in Menus table.")
# Populate Menus table
cursor.execute(insert_menus)
print("Total number of rows in Menu table: {}\n".format(cursor.rowcount))
connection.commit()

Inserting data in Menus table.
Total number of rows in Menu table: 12

In [13]:
create_booking_table="""
CREATE TABLE Bookings (
BookingID INT AUTO_INCREMENT,
TableNo INT,
GuestFirstName VARCHAR(100) NOT NULL,
GuestLastName VARCHAR(100) NOT NULL,
BookingSlot TIME NOT NULL,
EmployeeID INT,
PRIMARY KEY (BookingID)
);"""

# Create Bookings table
cursor.execute(create_booking_table)
print("Bookings table is created.\n")

Bookings table is created.

In [14]:
insert_bookings="""
INSERT INTO Bookings (BookingID, TableNo, GuestFirstName, 
GuestLastName, BookingSlot, EmployeeID)
VALUES
(1,12,'Anna','Iversen','19:00:00',1),
(2, 12, 'Joakim', 'Iversen', '19:00:00', 1),
(3, 19, 'Vanessa', 'McCarthy', '15:00:00', 3),
(4, 15, 'Marcos', 'Romero', '17:30:00', 4),
(5, 5, 'Hiroki', 'Yamane', '18:30:00', 2),
(6, 8, 'Diana', 'Pinto', '20:00:00', 5);"""

print("Inserting data in Bookings table.")
# Populate Bookings table
cursor.execute(insert_bookings)
print("Total number of rows in Bookings table: {}\n".format(cursor.rowcount))
connection.commit()

Inserting data in Bookings table.
Total number of rows in Bookings table: 6

In [15]:
create_orders_table="""
CREATE TABLE Orders (
OrderID INT,
TableNo INT,
MenuID INT,
BookingID INT,
BillAmount INT,
Quantity INT,
PRIMARY KEY (OrderID,TableNo)
);"""

# Create Orders table
cursor.execute(create_orders_table)
print("Orders table is created.\n")

Orders table is created.

In [16]:
insert_orders="""
INSERT INTO Orders (OrderID, TableNo, MenuID, BookingID, Quantity, BillAmount)
VALUES
(1, 12, 1, 1, 2, 86),
(2, 19, 2, 2, 1, 37),
(3, 15, 2, 3, 1, 37),
(4, 5, 3, 4, 1, 40),
(5, 8, 1, 5, 1, 43);"""

print("Inserting data in Orders table.")
# Populate Orders table
cursor.execute(insert_orders)
print("Total number of rows in Orders table: {}\n".format(cursor.rowcount))
connection.commit()

Inserting data in Orders table.
Total number of rows in Orders table: 5

In [17]:
create_employees_table="""
CREATE TABLE Employees (
EmployeeID INT AUTO_INCREMENT,
Name VARCHAR(200),
Role VARCHAR(100),
Address VARCHAR(200),
Contact_Number INT,
Email VARCHAR(100),
Annual_Salary VARCHAR(100),
PRIMARY KEY (EmployeeID)
);"""

# Create Employees table
cursor.execute(create_employees_table)

In [18]:
insert_employees="""
INSERT INTO Employees (EmployeeID, Name, Role, Address, Contact_Number, Email, Annual_Salary)
VALUES
(01,'Mario Gollini','Manager','724, Parsley Lane, Old Town, Chicago, IL',351258074,'Mario.g@littlelemon.com','$70,000'),
(02,'Adrian Gollini','Assistant Manager','334, Dill Square, Lincoln Park, Chicago, IL',351474048,'Adrian.g@littlelemon.com','$65,000'),
(03,'Giorgos Dioudis','Head Chef','879 Sage Street, West Loop, Chicago, IL',351970582,'Giorgos.d@littlelemon.com','$50,000'),
(04,'Fatma Kaya','Assistant Chef','132  Bay Lane, Chicago, IL',351963569,'Fatma.k@littlelemon.com','$45,000'),
(05,'Elena Salvai','Head Waiter','989 Thyme Square, EdgeWater, Chicago, IL',351074198,'Elena.s@littlelemon.com','$40,000'),
(06,'John Millar','Receptionist','245 Dill Square, Lincoln Park, Chicago, IL',351584508,'John.m@littlelemon.com','$35,000');"""


print("Inserting data in the Employees table.")
# Populate Employees table
cursor.execute(insert_employees)
print("Total number of rows in the Employees table: ", cursor.rowcount)
# Once the query is executed, you can commit the change to the database 
connection.commit()

Inserting data in the Employees table.
Total number of rows in the Employees table:  6

In [19]:
# Step two: Import Error

try:
    # Step three: Create a pool named pool_a with two connections
    dbconfig = {
        "database": "little_lemon_db",
        "user": "root",
        "password": "Hopewalk1@"
    }
   
    pool_a = MySQLConnectionPool(pool_name="pool_a", pool_size=2, **dbconfig)
    print("The connection pool is created with a name: ",pool_a.pool_name)
    print("The pool size is:",pool_a.pool_size)

    # Step four: Obtain a connection from pool_a and create a cursor object
    connection = pool_a.get_connection()
    cursor = connection.cursor()

    # Perform database operations using the cursor

    # Close the cursor and connection
    # cursor.close()
    # connection.close()

except Error as e:
    print("Error connecting to the database:", e)

The connection pool is created with a name:  pool_a
The pool size is: 2

Implement Query And Stored Procedure

In [20]:
    
# Step one: Write a SQL CREATE PROCEDURE query for PeakHours
create_procedure_query = """
CREATE PROCEDURE PeakHours()
BEGIN
    SELECT HOUR(BookingSlot) AS Hour, COUNT(*) AS Bookings
    FROM Bookings
    GROUP BY Hour
    ORDER BY Bookings DESC;
END
"""

In [21]:

try:
    # Step two: Run the stored procedure query by invoking execute module on the cursor
    cursor.execute(create_procedure_query)

    # Step three: Invoke callproc to call the stored procedure
    cursor.callproc("PeakHours")

    # Step four: Fetch the results in a variable called dataset
    results = next(cursor.stored_results() )
    dataset = results.fetchall()

    # Step five: Extract the names of the columns
    for column_id in cursor.stored_results():
        columns = [column[0] for column in column_id.description]

    # Step six: Print the names of the columns
    print("Column Names:", columns)

    # Step seven: Print the sorted data using a for loop
    for row in dataset:
        print(row)

except Error as e:
    print("Error executing the stored procedure:", e)

Column Names: ['Hour', 'Bookings']
(19, 2)
(15, 1)
(17, 1)
(18, 1)
(20, 1)

Implement stored Procedure GuestStatus

In [22]:
stored_procedure_gueststatus_query="""
CREATE PROCEDURE GuestStatus()
BEGIN
SELECT 

    Bookings.BookingID AS OrderNumber,  
    CONCAT(GuestFirstName,' ',GuestLastName) AS GuestName, 
    Role AS Employee, 
    CASE 
        WHEN Role IN ('Manager','Assistant Manager') THEN "Ready to Pay"
        WHEN Role = 'Head Chef' THEN "Ready to serve"
        WHEN Role = 'Assistant Chef' THEN "Preparing order"
        WHEN Role = 'Head Waiter' THEN "Order served"
    ELSE "Pending"
    END AS Status
    FROM Bookings 
        LEFT JOIN 
        Employees 
        ON Employees.EmployeeID=Bookings.EmployeeID;
END
"""

In [23]:

try:
    # Step two: Run the stored procedure query by invoking execute module on the cursor
    cursor.execute(stored_procedure_gueststatus_query)

    # Step three: Invoke callproc to call the stored procedure
    cursor.callproc("GuestStatus")

    # Step four: Fetch the results in a variable called dataset
    results = next(cursor.stored_results() )
    dataset = results.fetchall()

    # Step five: Extract the names of the columns
    for column_id in cursor.stored_results():
        columns = [column[0] for column in column_id.description]

    # Step six: Print the names of the columns
    print("Column Names:", columns)

    # Step seven: Print the sorted data using a for loop
    for row in dataset:
        print(row)

except Error as e:
    print("Error executing the stored procedure:", e)

Column Names: ['OrderNumber', 'GuestName', 'Employee', 'Status']
(1, 'Anna Iversen', 'Manager', 'Ready to Pay')
(2, 'Joakim Iversen', 'Manager', 'Ready to Pay')
(3, 'Vanessa McCarthy', 'Head Chef', 'Ready to serve')
(4, 'Marcos Romero', 'Assistant Chef', 'Preparing order')
(5, 'Hiroki Yamane', 'Assistant Manager', 'Ready to Pay')
(6, 'Diana Pinto', 'Head Waiter', 'Order served')

Little Lemon Analysis and sales Report

In [24]:
# Step two: Import Error

try:
    # Step three: Create a pool named pool_a with two connections
    dbconfig = {
        "database": "little_lemon_db",
        "user": "root",
        "password": "Hopewalk1@"
    }
   
    pool_b = MySQLConnectionPool(pool_name="pool_b", pool_size=2, **dbconfig)
    print("The connection pool is created with a name: ",pool_b.pool_name)
    print("The pool size is:",pool_b.pool_size)

    # Step four: Obtain a connection from pool_a and create a cursor object
    connection = pool_a.get_connection()
    cursor = connection.cursor()

    # Perform database operations using the cursor

    # Close the cursor and connection
    # cursor.close()
    # connection.close()

except Error as e:
    print("Error connecting to the database:", e)

The connection pool is created with a name:  pool_b
The pool size is: 2

In [25]:


# TASK 2
# connection 1
try:
    # Get first connection
    connection1 = pool_b.get_connection()
    print("Connection 1 connected")
except Error as e:
    print("Error while getting connections from the pool:", e)

# connection 2
try:
    # Get first connection
    connection2 = pool_b.get_connection()
    print('connection 2 connected')
except Error as e:
    print("Error while getting connections from the pool:", e)

# connection 3
try:
    # Get first connection
    connection3 = pool_b.get_connection()
except Error as e:
    print("exceeds number of pools available ")
    print("Error while getting connections from the pool:", e)

Connection1 connected
connection2 connected
exceeds number of pools available
Error while getting connections from the pool: Failed getting connection; pool exhausted

In [26]:

# Step two: Insert data for Guest 1
guest1_data = {
    "TableNo": 8,
    "GuestFirstName": "Anees",
    "GuestLastName": "Java",
    "BookingSlot": "18:00:00",
    "EmployeeID": 6
}

insert_query1 = """
INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES (%(TableNo)s, %(GuestFirstName)s, %(GuestLastName)s, %(BookingSlot)s, %(EmployeeID)s)
"""

In [27]:

try:
    cursor1 = connection1.cursor()
    cursor1.execute(insert_query1, guest1_data)
    connection1.commit()
    print("Data inserted for Guest 1")
except Error as e:
    print("Error while inserting data for Guest 1:", e)

Data inserted for Guest 1

In [28]:
## insering for guest 2

# Step three: Insert data for Guest 2
guest2_data = {
    "TableNo": 5,
    "GuestFirstName": "Bald",
    "GuestLastName": "Vin",
    "BookingSlot": "19:00:00",
    "EmployeeID": 6
}

insert_query2 = """
INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES (%(TableNo)s, %(GuestFirstName)s, %(GuestLastName)s, %(BookingSlot)s, %(EmployeeID)s)
"""

In [29]:
try:
    cursor2 = connection2.cursor()
    cursor2.execute(insert_query2, guest2_data)
    connection2.commit()
    print("Data inserted for Guest 2")
except Error as e:
    print("Error while inserting data for Guest 2:", e)

Data inserted for Guest 2

In [30]:
## Insert for Guest 3 
guest3_data = {
    "TableNo": 12,
    "GuestFirstName": "Jay",
    "GuestLastName": "Kon",
    "BookingSlot": "19:30:00",
    "EmployeeID": 6
}

insert_query3 = """
INSERT INTO Bookings (TableNo, GuestFirstName, GuestLastName, BookingSlot, EmployeeID)
VALUES (%(TableNo)s, %(GuestFirstName)s, %(GuestLastName)s, %(BookingSlot)s, %(EmployeeID)s)
"""

In [33]:
# try:
#     connection3 = poolConnect.get_connection()
#     print("The guest is connected")
# except:
#     print("Adding new connection in the pool.")
#     connection=connector.connect(user="admin",password="admin")
    
#     poolConnect.add_connection(cnx=connection)
#     print("A new connection is added in the pool.\n")
    
#     connection3 = poolConnect.get_connection()
#     print("'connection3' is added in the pool.")

try: 
    try:
        cursor3 = connection3.cursor()
        cursor3.execute(insert_query3, guest3_data)
        connection3.commit()
        print("Data inserted for Guest 3")
    except Error as e:
        print("Error while inserting data for Guest 3:", e)
except:
    print("Something went wrong")

Something went wrong

In [37]:
# Step five: Return connections to the pool
try:
    connection1.close()
    connection2.close()
    # This will raise PoolError since the pool size is exceeded
    # connection3.close()
except Error as e:
    print("Error while returning connections to the pool:", e)

# connection 1
try:
    # Get first connection
    connection1.close()
    print("Connection 1 closed")
except Error as e:
    print("Error while getting connections from the pool:", e)

# connection 2
try:
    # Get first connection
    connection2.close()
    print('connection 2 closed')
except Error as e:
    print("Error while getting connections from the pool:", e)

Error while returning connections to the pool: Failed adding connection; queue is full
Error while getting connections from the pool: Failed adding connection; queue is full
Error while getting connections from the pool: Failed adding connection; queue is full


# TASK 3
# Step one: Retrieve the name and EmployeeID of the Little Lemon manager

In [38]:
manager_query = """
SELECT Name, EmployeeID
FROM Employees
WHERE Role = 'Manager'
"""

In [39]:
try:
    cursor.execute(manager_query)
    manager_result = cursor.fetchone()
    manager_name = manager_result[0]
    manager_employee_id = manager_result[1]
    print("Little Lemon Manager:")
    print("Name:", manager_name)
    print("EmployeeID:", manager_employee_id)
except Error as e:
    print("Error while retrieving Little Lemon manager information:", e)

Little Lemon Manager:
Name: Mario Gollini
EmployeeID: 1

In [40]:
# Step two: Retrieve the name and role of the employee with the highest salary
highest_salary_query = """
SELECT Name, Role
FROM Employees
WHERE Annual_Salary = (
    SELECT MAX(Annual_Salary)
    FROM Employees
)
"""

In [41]:
try:
    cursor.execute(highest_salary_query)
    highest_salary_result = cursor.fetchone()
    highest_salary_name = highest_salary_result[0]
    highest_salary_role = highest_salary_result[1]
    print("\nEmployee with the Highest Salary:")
    print("Name:", highest_salary_name)
    print("Role:", highest_salary_role)
except Error as e:
    print("Error while retrieving employee with highest salary:", e)

Employee with the Highest Salary:
Name: Mario Gollini
Role: Manager

In [42]:

# Step three: Retrieve the number of guests booked between 18:00 and 20:00
guests_booked_query = """
SELECT COUNT(*)
FROM Bookings
WHERE BookingSlot BETWEEN '18:00:00' AND '20:00:00'
"""

try:
    cursor.execute(guests_booked_query)
    guests_booked_result = cursor.fetchone()
    guests_booked_count = guests_booked_result[0]
    print("\nNumber of Guests Booked between 18:00 and 20:00:", guests_booked_count)
except Error as e:
    print("Error while retrieving number of guests booked:", e)

Number of Guests Booked between 18:00 and 20:00: 6

In [44]:

# Step four: Retrieve the full name and BookingID of guests waiting to be seated, sorted by BookingSlot
waiting_guests_null_query = """
SELECT CONCAT(GuestFirstName, ' ', GuestLastName) AS FullName, BookingID
FROM Bookings
WHERE TableNo IS NULL
ORDER BY BookingSlot
"""

try:
    cursor.execute(waiting_guests_null_query)
    waiting_guests_result = cursor.fetchall()
    print("\nGuests Waiting to be Seated:")
    for guest in waiting_guests_result:
        full_name = guest[0]
        booking_id = guest[1]
        print("Full Name:", full_name)
        print("BookingID:", booking_id)
        print()
except Error as e:
    print("Error while retrieving guests waiting to be seated:", e)

Guests Waiting to be Seated:

In [46]:
# Full name and the BookingId of each guest  waiting to be seated  
# with the receptionist in sorted order with respect to their BookingSlot.
waiting_guests_noNull_query = """
SELECT 
    Bookings.BookingID AS ID,  
    CONCAT(GuestFirstName,' ',GuestLastName) AS GuestName, 
    Role AS Employee
FROM Bookings 
    LEFT JOIN Employees 
    ON Employees.EmployeeID=Bookings.EmployeeID
    WHERE Employees.Role = "Receptionist"
    ORDER BY BookingSlot DESC;
"""

try:
    cursor.execute(waiting_guests_noNull_query)
    waiting_guests_result = cursor.fetchall()
    print("\nGuests Waiting to be Seated:")
    for guest in waiting_guests_result:
        full_name = guest[0]
        booking_id = guest[1]
        Role = guest[2]
        print("Full Name:", full_name)
        print("BookingID:", booking_id)
        print("Role", Role)
        print()
except Error as e:
    print("Error while retrieving guests waiting to be seated:", e)


# cursor.execute("""
# SELECT 
#     Bookings.BookingID AS ID,  
#     CONCAT(GuestFirstName,' ',GuestLastName) AS GuestName, 
#     Role AS Employee
# FROM Bookings 
#     LEFT JOIN Employees 
#     ON Employees.EmployeeID=Bookings.EmployeeID
#     WHERE Employees.Role = "Receptionist"
#     ORDER BY BookingSlot DESC;
# """)
# print("The following guests are waiting to be seated:")
# results=cursor.fetchall()
# columns=cursor.column_names
# print(columns)
# for result in results:
#     print(result)

Guests Waiting to be Seated:
Full Name: 8
BookingID: Bald Vin
Role Receptionist

Full Name: 7
BookingID: Anees Java
Role Receptionist

In [47]:
# Create a stored procedure named BasicSalesReport. 
cursor.execute("DROP PROCEDURE IF EXISTS BasicSalesReport;")

stored_procedure_query_bassic_sales_report="""
CREATE PROCEDURE BasicSalesReport()
BEGIN
    SELECT 
        SUM(BillAmount) AS Total_Sale,
        AVG(BillAmount) AS Average_Sale,
        MIN(BillAmount) AS Min_Bill_Paid,
        MAX(BillAmount) AS Max_Bill_Paid
    FROM Orders;
END
"""
cursor.execute(stored_procedure_query_bassic_sales_report)
cursor.callproc("BasicSalesReport")

# Retrieve records in "dataset"
results = next(cursor.stored_results())
results = results.fetchall()

# Retrieve column names using list comprehension in a for loop 
for column_id in cursor.stored_results():
    cols = [column[0] for column in column_id.description]
    
print("Today's sales report:")
for result in results:
    print("\t",cols[0],":",result[0])
    print("\t",cols[1],":",result[1])
    print("\t",cols[2],":",result[2])
    print("\t",cols[3],":",result[3])

Today's sales report:
	 Total_Sale : 243
	 Average_Sale : 48.6000
	 Min_Bill_Paid : 37
	 Max_Bill_Paid : 86

In [48]:
# display the next 10 upcoming bookings from the Bookings
cursor.execute("DROP PROCEDURE IF EXISTS UpcomingBookings;")
stored_procedure_query_UpcomingBookings="""
CREATE PROCEDURE UpcomingBookings()
BEGIN
select 
	CONCAT("BookingSlot"," ", b.BookingSlot) as bookingSlot,
	CONCAT("Guest_name:"," ", CONCAT(b.GuestFirstName," ",b.GuestLastName)) as Guest_name,
	CONCAT("Asign to:"," ", CONCAT(e.Name, " [", e.Role, "]")) AS assign_to
from Bookings b
INNER JOIN 
Employees e
ON e.EmployeeID=b.EmployeeID
order by b.BookingID desc limit 10;
END
"""
cursor.execute(stored_procedure_query_UpcomingBookings)

In [49]:
cursor.callproc("UpcomingBookings")
results = next(cursor.stored_results())
results = results.fetchall()

for result in results:
    print("\n",result[0])
    print("\t",result[1])
    print("\t",result[2])
connection.close()

 BookingSlot 19:00:00
	 Guest_name: Bald Vin
	 Asign to: John Millar [Receptionist]

 BookingSlot 18:00:00
	 Guest_name: Anees Java
	 Asign to: John Millar [Receptionist]

 BookingSlot 20:00:00
	 Guest_name: Diana Pinto
	 Asign to: Elena Salvai [Head Waiter]

 BookingSlot 18:30:00
	 Guest_name: Hiroki Yamane
	 Asign to: Adrian Gollini [Assistant Manager]

 BookingSlot 17:30:00
	 Guest_name: Marcos Romero
	 Asign to: Fatma Kaya [Assistant Chef]

 BookingSlot 15:00:00
	 Guest_name: Vanessa McCarthy
	 Asign to: Giorgos Dioudis [Head Chef]

 BookingSlot 19:00:00
	 Guest_name: Joakim Iversen
	 Asign to: Mario Gollini [Manager]

 BookingSlot 19:00:00
	 Guest_name: Anna Iversen
	 Asign to: Mario Gollini [Manager]